.container {
    height: 25px;
    background-color: #CCC;
    position: relative;
    border-radius: 15px;
    margin: 30px;
    margin-bottom: 10px;
}

.container .progress-bar {
    position: absolute;
    height: 100%;
    border-radius: 15px;
    background-color: rgb(92, 166, 203);
}

:root {
  --end_width: 0%;
}

.bar1 {
    animation: progress-animation1 5s forwards;
}

.bar2 {
    animation: progress-animation2 5s forwards;
}

@keyframes progress-animation1 {
    0% {width: 0%}
    100% {width: var(--end_width);}
}

@keyframes progress-animation2 {
    0% {width: 0%}
    100% {width: 24%}
}

.card {
    border: solid 2px rgb(46, 46, 46);
    overflow: hidden;
    background-color: rgb(14, 14, 14);
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
}

.flex-container {
    display: flex;
}


@font-face {
    font-family: Effra Trial;
    src: url(Effra_Trial_Rg.woff);
    font-weight: 400;
}

* {
    font-family: Effra Trial;
    color: white;
}

head {
    border: 20px rgb(255, 255, 255);
    text-align: center;
}

body {
    background-color: rgb(9, 9, 9);
    margin: 30px;
}

p {
    text-align: center;
}

h2 {
    margin: 15px;
}

table {
    border: 2px solid white;
    border-collapse: separate;
    width: 50%;
    border-spacing: 0;
    margin: 30px;
    border-radius: 15px;
}

td {
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
}

td:first-child,
th:first-child {
    border-left: none;
}

th {
    border-top: none;
    border-left: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
}