.container{
    height: 25px;
    background-color: #CCC;
    position:relative;
    border-radius: 7px;
} 

.container .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 7px;

    background-color: blue;
    animation: progress-animation 5s forwards;
}

@keyframes progress-animation {
    0% {width: 0%}
    50% {width: 50%}
}

.card {
    border: solid 2px rgb(46, 46, 46);
    overflow: hidden;
    background-color: rgb(14, 14, 14);
    border-radius: 25px;
}

@font-face {
    font-family: Effra Trial;
    src: url(Effra_Trial_Rg.woff);
    font-weight: 400;
}

* {
    font-family: Effra Trial;
    color: white;
}

head {
    border: 20px rgb(255, 255, 255);
}

body {
    background-color: rgb(9,9,9);
}