.container{
    height: 25px;
    background-color: #CCC;
    position:relative;
    border-radius: 7px;
} 

.container .progress-bar{
    position: absolute;
    height: 100%;
    border-radius: 7px;

    background-color: blue;
    animation: progress-animation 5s forwards;
}

@keyframes progress-animation {
    0% {width: 0%}
    50% {width: 50%}
}